/*Toda la pagina*/
body {
  background-color: #e1c49e;
  text-align: left;
  margin: 0;
}

a {
  text-decoration: none;
}

.anuncio {
  display: flex;
  justify-content: center;
}

/*Menu*/




/*Section 1(Categorias)*/
.Categorias {
  margin: 40px;
  font-family: Secular One;
}

.grid-categorias {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  /*
      space around->espacio entre cada
      space-between->espacio entre cada pero 
      una pegada al final y otra al principio
    */
  width: 90%;
  height: 650px;
  margin: 50px;
}

.grid-categorias {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.categoria {
  max-height: 280px;
  border: 2px solid;
  border-radius: 15px;
  background-color: #b3b3b3;
  color: black;
  text-align: center;
  line-height: 40px;
  margin: 20px;
  padding: 10px;
  font-size: 25px;
}

.imgcategorias {
  max-height: 210px;
  width: 220px;
  position: static;
}

/*Section 2(Recomendacion de la pagina)*/

/*Ventas*/


/*Texto*/
.texto {
  margin: 65px;
  font-size: 20px;
  font-family: Cabin;
}

/*Footer(Pie de pagina)*/

/* Cambiar el formato segun la pantalla */
@media (max-width: 500px) {
  .grid-categorias {
    grid-template-columns: 1fr;
  }

  .texto {
    color: red;
    font-size: 40p;
  }
}

@media (max-width: 1000px) {
  .grid-categorias {
    grid-template-columns: repeat(2, 1fr)
  }
}