/*Toda la pagina*/
body {
  background-color: #e1c49e;
  text-align: left;
  margin: 0;
}

a{
  text-decoration: none;
}
.anuncio1{
  display: flex;
  align-items: center;
  width: 100%;
}

/*Menu*/
nav{
  color: white;
  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color: black;
}
.menu_item {
  color: white;
  text-align: center;
}
#menu {
  width:110%;

  padding-top: 10px;
  padding-bottom: 20px;
}
.menu_item:hover {
  color: #7a7a7a;
  cursor: pointer;
  text-decoration: none;
}
.fotosmenu {
  height: 40px;
  width: 40px;
}
.fotosmenu1{
  height: 40px;
  width: 70px;
}

  /*Buscador*/
  body, div, fieldset{
    margin: 0;
    padding: 0;
    border: 0;
 }
 .cajabuscar {
    float: none;
    width: 100%;
    max-width: 350px;
    margin-bottom: 25px;
    margin-top: 29px;
    margin-left: 30px;
    display: inline-block;
    text-align: left;
 }
 #buscarform {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
 }
 #buscarform fieldset { float: left }
 #buscarform .search {
    font-size: 20px;
    top: 0px;
    color: #FFF;
    background:#FFF;
    position: absolute;
    right: 0;
    top: 0;
    padding: 9px;
    height: 24px;
    width: 24px;
    text-align: center;
 }
 #buscarform fieldset { width: 100% }
 #s {
    width: 100%;
    background-color: #fff;
    float: left;
    padding: 8px 0;
    text-indent: 10px;
    color: #555555;
    border: 1px solid #fff; 
    box-sizing: border-box;
    height: 42px;
 }
 .button{
    right: 0;
    top: 0;
    padding: 9px 0;
    float: right;
    border: 0;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: #a4a4a4;
    transition: all 0.25s linear;
    background: transparent;
    z-index: 10;
    position: absolute;
    border: 0;
    vertical-align: top;
 }

/* Anuncio */
.anuncio1 img {
      display:block;
      margin:auto;
}

/*Section 1(Categorias)*/
.Categorias{
  margin: 40px;
}
.grid-categorias {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  /*
    space around->espacio entre cada
    space-between->espacio entre cada pero 
    una pegada al final y otra al principio
  */
  width: 90%;
  height: 650px;
  margin: 50px;
}

.categoria {
  max-height: 280px;
  border: 2px solid;
  border-radius: 15px;
  background-color: #b3b3b3;
  color: black;
  text-align: center;
  line-height: 40px;
  margin: 20px;
  padding: 10px;
  font-size: 25px;
}

.imgcategorias {
  max-height: 210px;
  width: 220px;
  position: static;
}

/*Section 2(Recomendacion de la pagina)*/
.ContenidoPersonalizado{
  margin: 40px;
  font-family:Secular One;
}
.grid-contpersonalizado {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}

.contpersonalizado {
  max-height: 330px;
  border: 2px solid black;
  border-radius: 15px;
  background-color:#b3b3b3;
  color: black;
  text-align: center;
  line-height: 40px;
  margin: 10px;
  padding: 20px;
}
.imgproductos{
  width: 175px;
  height: 150px;
}
/*Ventas*/
.tituloProducto{
  margin: 0;
  margin-top: 15px;
  text-align: left;
  font-weight: bold;
}
.Desde{
  text-align: left;
  margin: 0;
  font-size: 20px;
  color: #050505;
}
.precio{
  color: red;
  margin: 0;
  text-align: right;
  font-size: 23px;
}

/*Section 3-> Texto*/
.texto{
  margin: 65px;
  font-size: 20px;
  font-family:Cabin;
}
/*Footer(Pie de pagina)*/
#footer {
  color: white;
  border: 1px solid;
  background-color: #050505;
  height: 350px;
  width: 100%;
  padding: 15px;
  font-family:Cabin;
}
.piepagina{
  display: flex;
  justify-content:space-between;
}
.redes{
  display: flex;
  justify-content: right;
}
.imgred{
  width: 50px;
  height: 50px;
}
.infotitulo{
  font-size: 25px;
}
.info{
  color: #7a7a7a;
  font-size: 20px;
}
.año{
  text-align: right;
  font-size:20px;
}
  /* Cambiar el formato segun la pantalla */
/* 1 columna en pantallas menores de 500px */
@media (max-width: 500px){
  .grid-categorias { grid-template-columns: repeat(1, 1fr); height: 2000px;}
  .grid-contpersonalizado { grid-template-columns: repeat(1, 1fr); }
  .cajabuscar{
    display: none;
  }
  .menu_item{
    display: none;
  }
  .anuncio1{
    display: none;
  }
}
  /* 2 columnas en pantallas mayores de 500px */
@media (min-width: 500px) {
  .grid-categorias { grid-template-columns: repeat(2, 1fr); height: 1000px;}
  .grid-contpersonalizado { grid-template-columns: repeat(2, 1fr);}
  .cajabuscar{
    display: none;
  }
  .menu_item{
    display: none;
  }
  .anuncio1{
    display: none;
  }
}

/* 3 columnas en pantallas mayores de 1000px */
@media (min-width: 1100px) {
  .grid-categorias { grid-template-columns: repeat(3, 1fr); height: 650px;}
  .grid-contpersonalizado { grid-template-columns: repeat(3, 1fr);}
  .cajabuscar{
    display: flex;
  }
  .menu_item{
    display: flex;
  }
}
