 /* Cambiar el formato segun la pantalla */
/* 1 columna en pantallas menores de 500px */
@media (max-width: 550px){
    .Categorias .grid-categorias { grid-template-columns: repeat(1, 1fr); height: 2000px;}
    .ContenidoPersonalizado .grid-contpersonalizado { grid-template-columns: repeat(1, 1fr); }
    .cajabuscar{
      display: $display-none;
    }
    nav {
      .menu_item_grandes{
        display: $display-none;
      }
      .logo{
        width: 150px;
        height: 100px;
      }
      .fotosmenuNomovil{
        display: $display-none;
      }
    }
    footer .redes{
      display: $display-none;
    }
    
  }
    /* 2 columnas en pantallas mayores de 500px */
  @media (min-width: 550px) {
    .Categorias .grid-categorias { grid-template-columns: repeat(2, 1fr); height: 1000px;}
    .ContenidoPersonalizado .grid-contpersonalizado { grid-template-columns: repeat(2, 1fr);}
    .cajabuscar{
      display: $display-none;
    }
    nav {
      .menu_item_grandes{
        display: $display-none;
      }
      .fotosmenuNomovil{
        display: $display-none;
      }
    }
  }
  
  /* 3 columnas en pantallas mayores de 1000px */
  @media (min-width: 1300px) {
    .Categorias .grid-categorias { grid-template-columns: repeat(3, 1fr); height: 650px;}
    .ContenidoPersonalizado .grid-contpersonalizado { grid-template-columns: repeat(3, 1fr);}
    .cajabuscar{
      display: $display-flex;
    }
    nav {
      .menu_item_grandes{
        display: $display-flex;
      }
      .acceder{
        display: $display-none;
      }
      .fotosmenuNomovil{
        display: $display-flex;
      }
    }

  }
  /* 3 columnas en pantallas mayores de 1000px */
  @media (min-width: 2000px) {
    .Categorias .grid-categorias { grid-template-columns: repeat(3, 1fr); height: 650px; width: 90%;}
    .ContenidoPersonalizado .grid-contpersonalizado { 
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
    }

    @import "./4k.scss";
    
    .cajabuscar{
      display: $display-flex;
    }
    nav .menu_item_grandes{
      display: $display-flex;
    }
    nav .acceder{
      display: $display-none;
    }
    nav .acceder #desplegable{
      display: $display-none;
    }
  }