nav {
    color: $primary-color;
    display: $display-flex;
    align-items: $align-center;
    justify-content: space-around;
    background-color: #050505;
    

    padding-top: 10px;
    padding-bottom: 20px;

    .menu_item {
        text-align: $align-center;
        color: $primary-color;

        &:hover {
            color: #7a7a7a;
            cursor: pointer;
        }
    }

    .fotologo {
        width: 200px;
        height: 100px;
    }

    img {
        height: 40px;
        width: 40px;

        .fotosmenu {
            width: 40px;
        }

        .fotosmenu1 {
            width: 70px;
        }
    }
}

// Buscador
body, div, fieldset{
    margin: 0;
    padding: 0;
    border: 0;
 }
 .cajabuscar {
    float: none;
    width: 100%;
    max-width: 350px;
    margin-bottom: 25px;
    margin-top: 29px;
    margin-left: 30px;
    display: inline-block;
    text-align: left;
 }
 #buscarform {
    float: left;
    clear: both;
    width: 100%;
    position: relative;
 }
 #buscarform fieldset { float: left }
 #buscarform .search {
    font-size: 20px;
    top: 0px;
    color: #FFF;
    background:#FFF;
    position: absolute;
    right: 0;
    top: 0;
    height: 24px;
    width: 24px;
    text-align: $align-center;
 }
 #buscarform fieldset { width: 100% }
 #s {
    width: 100%;
    background-color: #fff;
    float: left;
    text-indent: 10px;
    color: #555555;
    border: 1px solid #fff; 
    box-sizing: border-box;
    height: 42px;
 }
 .button{
    right: 0;
    top: 0;
    float: right;
    border: 0;
    width: 40px;
    height: 42px;
    cursor: pointer;
    text-align: $align-center;
    color: #a4a4a4;
    transition: all 0.25s linear;
    background: transparent;
    z-index: 10;
    position: absolute; 
    vertical-align: top;
 }

